li {
    list-style: none;
    
    a:hover {
        text-decoration: none;
    }
}

header {
    background: white !important;

    .navbar {
        background: white !important;
        min-height: 150px;

        .navbar-brand {
            img {
                height: 100px;
                width: 75px;
            }
        }

        div {

            button {
                border: none;
            }

            .navbar-toggler {
                color: transparent;
            }

            ul {
                padding-bottom: 37px;

                li {
                    padding-left: 55px;

                    a {
                        color: #222222 !important;
                        font-family: 'Poppins', sans-serif;
                        font-weight: bold;
                        font-size: 30px;

                        @media (max-width: 991px) {
                            font-size: 15px;
                        }
                    }

                    a:hover {
                        color: #d09b4a !important;
                    }
                }
            }
        }
    }


    @media (max-width: 1000px) {
        .row {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
        }
    }

    @media (max-width: 576px) {
        .row {
            padding-right: 25px;
            padding-left: 25px;

            div {
                margin-left: 180px;
            }
        }
    }
}


// HOME 

#slider {

    img {
        height: 500px;
        
        @media (min-width: 991px){
            height: 77vh;
        } 

        @media (max-width: 576px) {
            height: 250px;
        }
    }
}

#music {
    padding-top: 140px;
    padding-bottom: 140px;

    .container {
        .row {

            .categorie {
                text-align: center;

                .style {
                    font-family: 'Assistant', sans-serif;
                    font-family: 40px;
                    font-weight: bold;
                    color: #222222;
                    text-align: center;
                    margin-bottom: 55px;
                }

                .titre {
                    font-family: 'Assistant', sans-serif;
                    font-size: 25px;
                    font-weight: bold;
                    color: #222222;
                    text-align: center;
                    margin-top: 55px;
                }

                .img-style {
                    height: 185px;

                    @media (max-width: 576px) {
                        height: 120px;
                    }
                }

                .img-style:hover {
                    opacity: .5;
                }

                @media (min-width: 769px) {

                    #img-decalage {
                        // décalage de la photo jazz pour la centrer par rapport au texte
                        margin-left: -18% !important;
                    }
                }

                @media (max-width: 768px) {

                    #img-decalage {
                        // décalage de la photo jazz pour la centrer par rapport au texte
                        margin-left: -5% !important;
                    }
                }

            }

            @media (min-width: 768px) and (max-width: 991px) {

                .categorie:first-child,
                .categorie:nth-child(2) {
                    margin-top: 10px;
                }

                .categorie:nth-child(3),
                .categorie:last-child {
                    margin-top: 100px;
                    margin-bottom: 20px;
                }
            }

            
            @media (max-width: 767px) {
                .categorie {
                    margin-bottom: 50px;
                }

                .categorie:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }

    @media (max-width: 991px) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

#form-map {
    background: #222222;

    .container {

        .row {

            .form {

                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-top: 40px;
                    padding-bottom: 40px;

                    h3 {
                        font-family: 'Assistant', sans-serif;
                        font-family: 30px;
                        font-weight: bold;
                        color: white;
                        padding-bottom: 40px;
                        padding-left: 5%;
                    }

                    input {
                        width: 220px;
                        height: 30px;
                        margin-bottom: 35px;
                        color: #d09b4a;
                        text-align: center;
                    }

                    #message {
                        height: 120px;
                    }

                    button {
                        background: transparent;
                        border: none;
                        color: white;
                        font-family: 'Assistant', sans-serif;
                        font-weight: bold;
                        font-size: 25px;
                        text-align: left;
                        margin-left: 17%;

                        @media (max-width: 768px) {
                            margin-left: 27%;
                        }
                    }

                    button:hover {
                        color: #d09b4a;
                    }
                }

                @media (max-width: 768px) {
                    order: 2;
                    display: flex;
                    justify-content: center;
                }

            }

            .map {
                background-image: url('img/maps.jpg');

                @media (min-width: 577px) and (max-width: 768px) {
                    order: 1;
                    height: 400px;
                }

                @media (max-width: 576px) {
                    order: 1;
                    height: 200px;
                }
            }
        }
    }
}


// FOOTER 

footer {
    display: flex;
    flex-direction: column;
    background-color: #222222 !important;
    padding-top: 42px;

    .container { 
        display: flex;
        flex-direction: row;

        nav { 
            
            ul { 
                display: flex;
                flex-direction: row;
                margin-left: -10%;

                li {
                    a {
                        color: white;
                        font-family: 'Poppins', sans-serif;
                        font-weight: bold;
                        font-size: 20px;

                        @media (max-width: 576px) {
                            font-size: 12px;
                        }
                        
                        span {
                            margin-right: 10px;
                            margin-left: 10px;
                        }
                    }

                    a:hover {
                        color:#d09b4a; 

                        span {
                            color: white;
                            cursor: default;
                        }
                    }
                }

                @media (max-width: 767px) {
                    margin-left: -50px;
                }
            }
        }

        img {
            width: 40px;
            height: 60px;
            margin-left: 8%;

            @media (max-width: 767px) {
                display: none;
            } 
        }

        p {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            margin-top: 60px;
            margin-bottom: 30px;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            font-size: 25px;
            color: white;
    
            @media (max-width: 767px) {
                font-size: 15px;
                margin-left: -350px;
            }
        }
    }
}
