

li {
    list-style: none;
}

header { 
    background: #222222 !important;

    .navbar {
        background: #222222 !important;
        height: 150px;
    
        div  {
            ul {
                li {
                    a {
                     color: white !important;
                     font-family: 'Poppins', sans-serif;
                     font-weight: bold;
                     font-size: 30px;
                    }
    
                    a:hover {
                        color: #d09b4a !important;
                    }
                 }
            }
        }
    }
}


footer {
    display: flex;
    flex-direction: column;
    background-color: #222222 !important;

    p {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        min-height: 100px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 25px;
        color: white;
    }
    
}

